<!-- Member Dropdown Menu -->
<div>
    <a class="nav-link pt-1" data-toggle="dropdown" href="#">
        <div class="user-panel d-flex">
            <div class="image">
                <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" style="color:#cccdcf;">Yen3Y</a>
            </div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <div class="card card-widget widget-user-2 shadow-sm">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header">
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="assets/dist/img/user2-160x160.jpg" alt="User Avatar">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">Yen3Y</h3>
                <h5 class="widget-user-desc">工程師</h5>
            </div>
            <div class="card-footer p-0">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            修改基本資料
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            登出
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
</div>